*{
	box-sizing: border-box;
}

html,body, div{
	margin:0;
	padding:0;
}

body{
	line-height: 1.5em;
	font-size: 1.25em;
	font-family: georgia;
	color: #333;
}

.wrap{
	margin: 0 auto;
	max-width: 36em;
}

h1,
h2,
h3{
	margin: 2.5em 0 0 0;
	font-family: arial;				
	line-height: 1.5em;
}

p{	
	color: #555;
	margin: 1.5em 0 0;
}

.logo a {
	text-decoration: none;
	color: #333;
}

.logo{
	font-size: 0.875em
}
