<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ page.title }} - Open Data Pro</title>
		
		<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		
		{% include analyticsHead.html %}
	</head>
	<body>
		<div class="wrap"> 
			{% include navigation.html %}

			{{ content }}
			
			{% include footer.html %}
			
			{% include analyticsFooter.html %}
		</div>
	</body>
</html>